* {
    box-sizing: border-box;
}
@font-face {
    font-family: Quicksand-Regular;
    src: url(./../assets/fonts/Quicksand/Quicksand-Medium.ttf) format("truetype");
}
@font-face {
    font-family: PlayfairDisplay-Bold;
    src: url(./../assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf) format("truetype");
}
@font-face {
    font-family: PlayfairDisplay-SemiBold;
    src: url(./../assets/fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf) format("truetype");
}
:root{
    --text-font: Quicksand-Regular,sans-serif;
    --heading-font: PlayfairDisplay-Bold,sans-serif;
    --small-heading-font: PlayfairDisplay-SemiBold,sans-serif;
    --color1: #000;
    --color2: #000;
    --color3: #000;
    --color4: #000;
    --color5: #000;
}
.App{
    margin: 0;
    padding: 0;
    background: #fff;
    color: #525666;
    font-family: var(--text-font);
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
}
.container{
    width: 1300px;
    margin: 0 auto;
    padding: 0;
    height: auto;
}

h2{
    font-family: var(--heading-font);
}
img{
    width: 100px;
}