.login-form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.animated-svg{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #3E37B1;
    background-repeat: no-repeat;
    background-size: cover;
}
.animated-svg img{
    width: 500px;
}
.login-main{
    width: 60%;
    display: flex;
    position:unset;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    background: var(--section-background);
}
.login-main .form{
    width: 450px;
    height: auto;
    padding: 40px;
    background: var(--background);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: -7px 7px 13px -4px rgb(0 0 0 / 50%);
}
.form-heading h3{
    font-family: var(--heading-font);
    font-size: 30px;
    margin: 10px 0;
}
.form-item{
    width: 100%;
}
.form-item input{
    width: 100%;
    font-size: 16px;
    padding: 10px 4px;
    font-family: var(--text-font);
    font-weight: 600;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    background-color: var(--section-background);
    transition: 0.3s ease-in;
    padding-left: 1.2em;
}
.form-item input:focus{
    outline: none;
    background-color: var(--subsection-background);
    
}
.form-item input::placeholder {
    color: var(--fade-color);
}
.login-btn{
    border: 1px solid var(--button-color);
    border-radius: 5px;
    padding: 0.5em 1.5em;
    font-family: var(--text-font);
    background: var(--background);
    color: var(--button-color);
    font-weight: bold;
    transition: 0.1s ease-in;
    font-size: 16px;
}
.login-btn:hover {
    background: var(--button-color);
    color: var(--background);
    font-weight: bold;
}
.form-item p {
    text-align: right;

}
.form-item.pass {
    position: relative;
}
.toggle-pass {
    position: absolute;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 16px;
    height: 100%;
    color: var(--button-color);
    transition: 0.1s ease-in;
    cursor: pointer;
}
.error-tosat{
    width: auto;
    height: auto;
    background-color: #D32F2F;
    color: var(--background);
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    animation:animatezoom 0.6s;
}
.success-toast{
    width: auto;
    height: auto;
    background-color: #071318;
    color: var(--background);
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    animation:animatezoom 0.6s;
}
.formitem a{
    text-decoration: none;
    color: var(--button-color);
    transition: 0.1s ease-in;
    font-weight: 600;
}
.form-item a:hover{
    color: #3742fa;
}


@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.error-tosat p,
.success-toast p{
    margin: 0;
}